# 天翼云账号密码
TIANYI_USERNAME=你的天翼云账号
TIANYI_PASSWORD=你的天翼云密码

# 数据库配置
DB_USER=postgres.aounyouknclwcjjnseqz
DB_PASSWORD=WnDry41tMptHopMi
DB_HOST=aws-0-us-east-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres 

# 默认展示的目录ID，默认为根目录
DEFAULT_FOLDER_ID=-11 